<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <title>Document</title>
    <style>
    .savedBooks{ max-width: 300px ;max-height: 350px; display: block; background-color: gray;}      
    #bookP{ max-width: 300px ;max-height: 350px;  }
    </style>
</head>

<body>
    <div class="savedBooks">
        <% books.forEach(book=>{ %>  
            <img src=<%= book.img %> alt="">  
        <h3 id="bookH2"><%= book.title %> </h2>
        <h4 id="bookH3"><%= book.authors %> </h3> 
        <p id="bookP"><%= book.description %></hp> 
        <%   })%>
    </div>
   
</body>

</html>